/**
*	@variables.scss 
*	Declare all variables here
*/

/*
*  Colors 
*/
$baseWhite : #fff;
$baseBlack : #000;
$baseGrey: #ddd;

/*
*  Dimensions 
*/
$headerHeight: 44px;
$footerPadding: 10px;

/*
*  Misc 
*/
$pullLeft: left;
$pullRight: right;
$clearfix: both;


/*
* fonts
*/

$fontSize: 12px/22px arial;
